

.container {
  width: 380px;
  padding: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.8s ease;
  border: 1px solid rgb(168, 128, 0);
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);} 
  to {opacity: 1; transform: translateY(0);} 
}

h2 {
  text-align: center;
  color: #997500;
  margin-bottom: 25px;
  font-weight: 600;
  letter-spacing: 1px;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 20px 0;
  background-color: #997500;
  border-radius: 10px;
}

.input-box input {
  width: 100%;
  padding: 12px 15px;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 8px;
  color: #ffef8a;
  outline: none;
  font-size: 15px;
}

.input-box label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  pointer-events: none;
  transition: 0.3s;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  top: -5px;
  font-size: 12px;
  color: #000000;
}

.btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 8px;
  background: #ffef8a; color: #000;
  color: #2b1055;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #987807;
  color: white;
}

.links {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #eee;
}

.links a {
  color: #ffef8a;
  text-decoration: underline;
  cursor: pointer;
}
